<script setup lang="ts">
import AppContainer from '@/components/AppContainer.vue'
import ImageOg from '@/assets/images/imageOg.png'
useSeoMeta({
  ogTitle: 'Retourne Tour',
  ogDescription: 'Retoune Tour, du 3 au 11 Mai 2024,  Undae Tropic et Dezeffe joueront à Caen, Saint Etienne, Dijon et Vaulx.',
  ogImage: ImageOg,
})
</script>

<template>
  <AppContainer>
    <NuxtPage />
  </AppContainer>
</template>

<style>
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
</style>