.app[data-v-9964b712]{box-sizing:border-box;display:flex;flex:1;flex-direction:column;margin:auto;max-width:var(--max-width);min-height:100vh;padding:2rem}.page-enter-active,.page-leave-active{transition:all .4s}.page-enter-from,.page-leave-to{filter:blur(1rem);opacity:0}
