<template>
    <div class="name-event">
        Retourne Tour
    </div>
</template>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

.name-event {
    display: flex;
    font-size: 2.2rem;
    gap: 1rem;
    flex-wrap: wrap;
    font-family: var(--font-2);
}

@media (min-width: $breakpoint-s) {
    .name-event {
        font-size: 2.5rem;
        gap: 1.5rem;
    }
}


@media (min-width: $breakpoint-m) {
    .name-event {
        font-size: 3rem;
        gap: 2rem;
    }
}
</style>