<script lang="ts" setup>
import photo from "@/assets/images/canard.png"

defineProps({
    "left": String,
    "top": String
})
</script>

<template>
    <div class="title-img-container" :style="'top:' + top + ';left:' + left + ';'">
        <img class="title-img" :src="photo" alt="photo canard">
    </div>
</template>

<style scoped>
.title-img-container {
    position: absolute;
    width: 100%;
    z-index: -10;
    scale: 2.5;
    filter: blur(2px);
}

.title-img {
    width: 250px;
}
</style>