<script setup lang="ts">
defineProps({ date: String, location: String, description: Array<String> })</script>

<template>
    <div class="artist artist-no-link">
        <div class="artist-name">{{ date }} - {{ location }}</div>
        <div class="artist-description">{{ description?.join(" | ") }}</div>
    </div>
</template>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";


.artist {
    cursor: pointer;
    display: flex;
    min-height: 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px 0;
    border-style: solid;
    transition: transform 0.5s ease-out, border-color 0.5s ease-out;
    text-decoration: none;
    color: inherit;
    gap:3rem;
}

.artist:hover {
    border-color: var(--color-1);
    // background-color: var(--backgroud-color-2);
    color: var(--color-3);
    transform: translateX(-10px);

}

.artist-name {
    font-size: 1.4rem;
    font-weight: 800;
    flex: 1;
}

.artist-no-link {
    cursor: inherit;
}

.artist-description {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin-right: 0rem;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

@media (min-width: $breakpoint-xs) {
    .artist-name {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .artist-description {

        font-size: 1.2rem;
    }
}

@media (min-width: $breakpoint-s) {
    .artist-name {
        font-size: 1.5rem;
    }

    .artist-description {

        font-size: 1.3rem;
    }
}

@media (min-width: $breakpoint-m) {
    .artist-name {
        font-size: 2.2rem;
    }

    .artist-description {
        font-size: 2rem;
    }
}
</style>