<script setup lang="ts">
import lineup from "@/assets/data/lineup.json"
import LineupArtist from "@/components/lineup/LineupArtist.vue"
</script>

<template>
    <div class="linup-container">
        <div class="linup-list">
            <LineupArtist :date="artist.date" :location="artist.location" :description="artist.description" v-for="artist, index in lineup" :key="index">
            </LineupArtist>
        </div>
    </div>
</template>

<style scoped lang="scss">
.linup-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0;
    max-width: 667px;
}

.linup-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap:2rem;
}

</style>