@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');


:root {
    --max-width: 1150px;
    
    --font-1: monospace;
    --font-2: "Jersey 15";

    --backgroud-color-1: rgb(255,249,236);
    --backgroud-color-2: rgb(230, 230, 230);
    --color-1: rgb(232, 103, 27);
    --color-2: white;
    

    --backgroud-color-1-save: black;
    --backgroud-color-2-save: rgb(230, 230, 230);
    --color-1-save: rgb(230, 230, 230);
    --color-2-save: black;
}

[data-theme="dark"]  {
    --backgroud-color-1: black;
    --backgroud-color-2: rgb(230, 230, 230);
    --color-1: rgb(230, 230, 230);
    --color-2: black;
}

html,
body {
    font-family: var(--font-1);
    background-color: var(--backgroud-color-1);
    color: var(--color-1);
    max-height: 100vh;
    overflow: hidden;
}

body{
    position: relative;
}
/*
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}*/