<template>
    <div class="app">
        <slot></slot>
    </div>
</template>


<style lang="scss" scoped>
.app {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: var(--max-width);
    min-height: 100vh;
    margin: auto;
    padding: 2rem;
    box-sizing: border-box;
}
</style>