<script setup lang="ts">
import EffectMouseLight from '~/components/effect/EffectMouseLight.vue';
</script>

<template>
    <main class="main-container">

        <EffectMouseLight></EffectMouseLight>
        <div class="main-content">
            <slot></slot>
        </div>
    </main>
</template>

<style lang="scss" scoped>
.main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width-lineup);
    margin: 0 auto;
}

.main-content{
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width-lineup);
    margin: 0 auto;
    z-index: 5;
}
</style>