<script setup lang="ts">
// import { ref, onMounted, onUnmounted } from 'vue'
// const effectElement = ref(null)
// const changePos = (event: MouseEvent) => {
//     if (!effectElement.value)
//         return
//     effectElement.value.style.left = event.pageX + 'px'
//     effectElement.value.style.top = event.pageY + 'px'
// }

// const throttle=function(fn, wait){
//     let throttled = false;
//     return function(...args){
//         if(!throttled){
//             fn.apply(this,args);
//             throttled = true;
//             setTimeout(()=>{
//                 throttled = false;
//             }, wait);
//         }
//     }
// }

// const throttleChangePos= throttle(changePos,180)
// onMounted(() => {
//     document.addEventListener("mousemove",  throttleChangePos);
// })

// onUnmounted(() => {
//     document.removeEventListener("mousemove",  throttleChangePos);
// })
</script>

<template>
    <div class="page">
        <div ref="effectElement" class="mouse-effect">
            <div class="light-effect"></div>
        </div>
    </div>
</template>

<style lang="scss">
@import "@/assets/scss/variables.scss";

.page {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mouse-effect {
    top: 11vw;
    left: 5vw;
    position: relative;
}

.light-effect {
    position: absolute;
    transform: translate(-50%, -50%);
    filter: blur(93px) drop-shadow(10px 10px 80px rgb(255, 251, 25));
    background-color: rgb(255, 119, 65);
    min-width: 200px;
    min-height: 200px;
    width: 44vw;
    height: 44vw;
    border-radius: 50%;
    z-index: 100;
    user-select: none;
    pointer-events: none;
}
</style>