<script setup lang="ts">
import LineupContainer from '@/components/lineup/LineupContainer.vue'
import MainContainer from '~/components/MainContainer.vue';
import EventName from '~/components/event/EventName.vue';
import ImageEvent from '~/components/event/ImageEvent.vue';
</script>

<template>
  <MainContainer>
    <EventName></EventName>
    <p class="text-accueil-primary">
      <NuxtLink class="link-override" external target="_blank" to="https://soundcloud.com/undaetropic">Undae Tropic
      </NuxtLink>
      | <NuxtLink class="link-override" external target="_blank" to="https://soundcloud.com/dezeffe/mosaique">Dezeffe
      </NuxtLink>
    </p>
    <LineupContainer></LineupContainer>
    <div class="separator">
      <ImageEvent top="11px" left="-222%"></ImageEvent>
    </div>
  </MainContainer>
</template>

<style scoped lang="scss">
@import "@/assets/scss/variables.scss";

.link-override {
  color: inherit;
  text-decoration: none;
}

.text-accueil-primary {
  display: flex;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.15rem;
  width: 100%;
  justify-content: space-evenly;
}

.separator {
  margin-top: 3rem;
  position: relative;
  width: 50%;
  height: 1px;
  background-color: var(--color-1);
}

@media (min-width: $breakpoint-s) {

  .text-accueil-primary {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }

}

@media (min-width: $breakpoint-m) {

  .text-accueil-primary {
    font-size: 2rem;
  }

}

.mail-link {
  color: var(--color-1)
}
</style>